.nes-container .is-rounded {
  height: 305px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;

  justify-content: space-around;
}

.nes-btn {
  position: absolute;

  top: 86%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.cart-title {
  margin-bottom: 15px;
}

.descr {
  color: #455953;
  font-size: 0.9rem;
}

.price {
  position: absolute;
  top: 88%;
  left: 20%;
  transform: translate(-50%, -50%);
}

img {
  margin-bottom: 25px;
}
